@model WebAtividadeEntrevista.Models.BeneficiarioModel
@section scripts{
    <script>
        var obj = @Html.Raw(Json.Encode(Model));
        var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlDelecao = '';
        var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "", IDCLIENTE = Request.Params["idCliente"] })';
        var urlPost = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/listBeneficiarios")
    @Scripts.Render("~/bundles/beneficiarios")
}
@*<div id="' + random + '" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">*@
@*@Html.ActionLink("Novo Beneficiario", "Incluir", "Beneficiario", new { }, new { @class = "btn btn-sm btn-primary pull-right" })*@
@Html.Partial("Incluir")

@*</div>
            </div>
        </div>
    </div>*@